<th:block th:fragment="default">
    <!doctype html>
    <html lang="ru" xmlns:th="http://www.thymeleaf.org">
        <head>
            <th:block th:insert="fragments/common.html :: meta"></th:block>
            <th:block th:insert="fragments/common.html :: styles"></th:block>
            <th:block th:insert="fragments/common.html :: title('login')"></th:block>
        </head>
        <body>
            <section class="login-panel">
                <div class="ui-block authorize">
                    <div class="header"><i class="fas fa-unlock-alt"></i> Авторизация</div>
                    <div class="body">
                        <form>
                            <div class="mb-2">
                                <label for="login-or-email" class="form-label">Логин или email</label>
                                <input type="email" class="form-control" id="login-or-email" />
                            </div>
                            <div class="mb-2">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" class="form-control" id="password" />
                            </div>
                            <div class="mb-4 form-check">
                                <input type="checkbox" class="form-check-input" id="remember-me" />
                                <label class="form-check-label" for="remember-me">запомнить меня</label>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary">OK</button>
                                <button type="button" class="btn btn-outline-secondary">Сброс</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </body>
    </html>
</th:block>
